$background: #3a3215;
$primary-yellow: #e4bb38;
$primary-grey: #b8b8b8;
$white: #ffffff;
$secondary-gray: #b7b7b7;
$black: #000000;

.game__wrapper {
  color: #ffffff;
  background: url('../../assets/img/gamerule-lg.png');
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
  image-rendering: pixelated;
  padding-bottom: 100px;
  .img__wrapper {
    background: url('../../assets/img/lg-laptop.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 55vh;
    margin-top: 100px;
    position: relative;
    .mobile__img {
      height: 230px;
      position: absolute;
      right: 18%;
      top: 140px;
    }
    .geno__sec__img {
      position: absolute;
      right: 8%;
      top: 65%;
      height: 150px;
    }
  }
  .geno__img {
    position: absolute;
    .inner__img {
      width: 80px;
      height: auto;
    }
  }
  .head__wrapper {
    text-transform: uppercase;
    word-spacing: 0px;
    .main__head {
      line-height: 20px;
      font-size: 60px;
      font-weight: 800;
      line-height: 60px;
    }
    .sub__head {
      font-size: 60px;
      font-weight: 800;
      line-height: 70px;
    }
  }
  .desc__head {
    color: $primary-grey;
    width: 463px;
    font-size: 16px;
    word-spacing: 0;
    .desc__head__text {
      font-weight: bold;
      line-height: 28px;
    }
    .desc__para__text {
      line-height: 25px;
    }
  }
  @media screen and (max-width: 768px) {
    .head__wrapper {
      min-height: auto;
      text-align: center;
      .main__head {
        font-size: 40px;
        line-height: 40px;
      }
      .sub__head {
        font-size: 32px;
        line-height: 40px;
      }
    }
    .desc__head {
      width: 100%;
      text-align: center;
      .desc__head__text {
        font-size: 20px;
        line-height: 20px;
      }
      .desc__para__text {
        font-size: 16px;
        line-height: 20px;
      }
    }
    .img__wrapper {
      background-size: contain;
      .mobile__img {
        right: 0;
        top: 48%;
        height: 150px;
      }
    }
    .geno__img {
      .inner__img {
        width: 50px;
        height: auto;
      }
    }
    .geno__sec__img {
      width: 50px;
      right: 0;
      top: 0;
    }
  }
}
