$background: #3a3215;
$primary-yellow: #e4bb38;
$primary-grey: #b8b8b8;
$white: #ffffff;
$secondary-gray: #b7b7b7;
$black: #000000;

.schedule__wrapper {
  background-color: #1f1d1d;
  min-height: 90vh;
  height: 100%;
  .head__wrapper {
    &::before {
      content: '';
      background: url('../../assets/img/geno.png') no-repeat;
      background-size: contain;
      position: absolute;
      width: 100px;
      bottom: 0;
      height: 65px;
      left: 36%;
    }
    &:after {
      content: '';
      background: url('../../assets/img/geno-right.png') no-repeat;
      background-size: contain;
      position: absolute;
      width: 100px;
      height: 65px;
      right: 30%;
      bottom: 0;
    }
    .head__text {
      text-transform: capitalize;
      text-align: center;
      font-size: 48px;
      word-spacing: 0;
      line-height: 55px;
      color: $primary-yellow;
      font-weight: 800;
    }
  }
  .description__head {
    color: $primary-grey;
    font-size: 30px;
    word-spacing: 0;
    line-height: 30px;
    margin: 10px 0;
    font-weight: 600;
  }
  .row {
    display: flex;
    .img-fluid {
      width: 200px;
      height: auto;
    }
  }

  @media screen and (max-width: 768px) {
    min-height: 50vh;
    .head__text {
      font-size: 32px !important;
      line-height: 40px !important;
    }
    .head__wrapper {
      &::before {
        left: 18%;
        bottom: auto !important;
      }
      &:after {
        right: 0;
        top: 15px;
      }
      .img-fluid {
        width: 100px;
        height: auto;
      }
    }
  }
}
