$primary-yellow: #e4bb38;

.studio__wrapper {
  background-color: #000000;
  min-height: 70vh;
  .card {
    background-color: transparent;
  }
  .head__wrapper {
    text-align: center;
    color: $primary-yellow;
    text-transform: uppercase;
    .nft__head {
      font-weight: 800;
      font-size: 40px;
    }
  }
  .react-multiple-carousel__arrow--right {
    background-color: transparent;
    color: #ffffff !important;
    font-weight: 800;
    right: 0;
    &:hover {
      background-color: transparent;
    }
  }
  .react-multiple-carousel__arrow--left {
    background-color: transparent;
    color: #ffffff !important;
    font-weight: 800;
    left: 0;
    &:hover {
      background-color: transparent;
    }
  }
}

@media screen and (max-width: 768px) {
  .studio__wrapper {
    .card {
      width: 250px;
    }
    .head__wrapper {
      .nft__head {
        font-size: 32px;
      }
    }
  }
}
