$primary-yellow: #e4bb38;

.studio__wrapper {
  background-color: #000000;
  min-height: 70vh;
  .card {
    background-color: transparent;
  }
  .head__wrapper {
    text-align: center;
    color: $primary-yellow;
    text-transform: uppercase;
    .nft__head {
      font-weight: 800;
      font-size: 40px;
    }
  }
}
